.app-main {
  flex: 1;
  display: flex;
  min-height: 0;
}

.app-main .left-pane {
  width: 40%;
  min-width: 320px;
  overflow-y: auto;
  padding: 1.5rem;
}

.app-main .right-pane {
  width: 60%;
  min-width: 360px;
  overflow-y: auto;
  padding: 1.5rem;
}
